body {
  background: #2c3e50;
  font-family: 'Alegreya Sans';
}

#margins {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#header {
  font-size: 80;
}

div#inner {
  width: 1000;
}

h1 {
  color: white;
  font-family: 'Libre Baskerville', serif;
}

h2, h3, h4 {
  color:#e2ebf0;
  font-family: 'Libre Baskerville', serif;
}

path.country { fill: #fdfbfb; stroke: #fdfbfb; }